{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">

    <!-- You will not be able to see this text.-->
    <div class="container">
        <div class="contact">
            <h2>{{ .Site.Data.homepage.contact.title }}</h2>
            <div class="row pt-2">
                <div class="col-12 col-lg-7">
                    <form action="{{ .Site.Data.homepage.contact.form.action }}" method="{{ .Site.Data.homepage.contact.form.method }}">

                        <div class="row pt-4">
                            <div class="col-12">
                              <!-- text1-->
                                    <font size="4" color="#343a40">DISCUSS A PROJECT OR JUST WANT TO SAY HI? MY INBOX IS OPEN FOR ALL</font><br>
                                    <p>Open for opportunities: Yes!</p>
                                    <div class="row platform-links">
        <!-- social icon-->                             
          <div class="col-12">  
            {{ range .Site.Data.homepage.showcase.socialLinks }}
            <a href="{{ .URL | absURL }}" target="_blank"
              ><i class="icon-{{ .icon }}-line"></i
            ></a>
            {{ end }}
          </div>
        </div>
        <!-- end of social icon--> 
                            </div>
                        </div>
                    </form>
                </div> 
                <div class="col-12 col-lg-5 contact__info">
                    <h4>{{ .Site.Data.homepage.contact.phone.title }}</h4>
                    <span><p><a href="mailto:dion.madyasta@gmail.com">dion.madyasta@gmail.com</a></p></span>
                    <h4>{{ .Site.Data.homepage.contact.email.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
                    <h4>{{ .Site.Data.homepage.contact.address.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
